name: kafkacat-images
lang: unknown
lang_version: unknown
git:
  enable: true
github:
  enable: true
  repo_name: confluentinc/kafkacat-images
semaphore:
  enable: true
  pipeline_type: cp-dockerfile
  docker_repos: ["confluentinc/cp-kcat",]
  maven_phase: 'package'
  maven_skip_deploy: true
  use_packages: true
  cp_images: true
  os_types: ['ubi9']
  nano_version: true
  build_arm: true
  sign_images: true
  push_latest: true
  tasks:
    - name: cp-dockerfile-build
      branch: master
      pipeline_file: .semaphore/cp_dockerfile_build.yml
      parameters:
        - name: CONFLUENT_VERSION
          required: true
        - name: PACKAGES_URL
          required: true
        - name: PACKAGES_MAVEN_URL
          required: true
        - name: PACKAGING_BUILD_NUMBER
          required: true
        - name: ALLOW_UNSIGNED
          required: true
          default_value: 'False'
          options:
            - 'True'
            - 'False'
        - name: CONFLUENT_DEB_VERSION
          required: true
          default_value: '1'
    - name: cp-dockerfile-promote
      branch: master
      pipeline_file: .semaphore/cp_dockerfile_promote.yml
      parameters:
        - name: CONFLUENT_VERSION
          required: true
        - name: IMAGE_REVISION
          required: true
          default_value: '1'
        - name: UPDATE_LATEST_TAG
          required: true
        - name: PACKAGING_BUILD_NUMBER
          required: true
        - name: PROMOTE_OS_TYPE
          required: true
          options:
            - 'deb'
            - 'ubi'

codeowners:
  enable: true

code_artifact:
  enable: true
  package_paths:
    - maven-snapshots/maven/io.confluent.kafkacat-images/kafkacat-images-parent
    - maven-snapshots/maven/io.confluent.kafkacat-images/cp-*
